.calculations-section {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px 3px rgba(173,173,173,0.45);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(173,173,173,0.45);
  -moz-box-shadow: 0px 0px 5px 3px rgba(173,173,173,0.45);
  border-radius: 4px;
  width: 400px;
  
}

.calculations-h3 {
  color: rgb(9, 9, 11);
}

.calculations-p {
  color: rgb(202, 201, 201);
  font-size: 15px;
}

.calculations-p-2 {
  color: rgb(202, 201, 201);
  font-size: 15px;
}

.both-calculations {
  display: flex;
  gap: 2px;
}