* {
  -webkit-tap-highlight-color: transparent;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 60px;
    text-align: center;
}

.nav-btns {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav > div >  button > i {
    font-size: 25px;
    width: 30px;
    animation: infinite 6s linear logo-spin;
    cursor: pointer;
    transition: 0.5s ease all;
}

.fa-github {
  font-size: 25px;
  transition: 0.5s ease all;
  cursor: pointer;
}

.toggle-btn i {
  background-color: transparent !important;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;
}

.toggle-btn i:active,
.toggle-btn i:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}