table {
  border-collapse: collapse;
  border: 1px solid white;
  width: 5;
  margin: 0 auto;
  margin-top: 40px;
}

th, tr, td {
  border: 1px solid white;
  text-align: center;
  padding: 8px;
}

.prices-reference {
  color: white;
}