* {
  box-sizing: border-box;
  margin: 0;
  
}

body {
  font-family: sans-serif;
  width: 80%;
  margin: 0 auto;
  transition: background-color 0.5s ease, color 0.5s ease all;
}

.app {
  display: flex;
  align-items: center;
}


.ref-calc {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center; 
}

.ref-calc > .calculation {
  margin: 0 auto;
}

.calculations-ref {
  display: flex;
  gap: 30px;
}

.calculations-ref > * {
  flex: 1;
}

.select-laboratory {
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .app {
    flex-direction: column;
    gap: 30px;
  }

  .btn-select-tabs {
    min-width: 10px;
  }

  .select-laboratory {
    flex-direction: column;
    gap: 10px;
  }

  body {
    width: 100%;
  }

  .calculations-ref {
    flex-direction: column;
  }


}